{{#isNull}}
  null
{{/isNull}}
{{#isString}}
  "{{{value}}}"
{{/isString}}
{{#isInteger}}
  {{{value}}}
{{/isInteger}}
{{#isLong}}
  {{{value}}}L
{{/isLong}}
{{#isDouble}}
  {{{value}}}
{{/isDouble}}
{{#isBoolean}}
  {{{value}}}
{{/isBoolean}}
{{#isEnum}}
  {{{objectName}}}.fromValue("{{{value}}}")
{{/isEnum}}
{{#isArray}}
  List.of({{#value}}{{> generateParamsValue}}{{^-last}},{{/-last}}{{/value}})
{{/isArray}}
{{#isObject}}
  new {{{objectName}}}()
      /** {{#value}}{{> generateParams}}{{#isAdditionalProperty}}{{parent}}{{parentSuffix}}.setAdditionalProperty("{{{key}}}", {{> maybeConvertOneOf}}){{/isAdditionalProperty}}{{^isAdditionalProperty}}{{parent}}{{parentSuffix}}.set{{#lambda.titlecase}}{{{key}}}{{/lambda.titlecase}}({{> maybeConvertOneOf}}){{/isAdditionalProperty}}{{/value}} */
{{/isObject}}
{{#isFreeFormObject}}
  {{#isAnyType}}
  Map.of({{#value}}{{#entrySet}}"{{{key}}}", "{{{value}}}"{{^-last}},{{/-last}}{{/entrySet}}{{/value}})
  {{/isAnyType}}
  {{^isAnyType}}
  /** {{#value}}{{> generateParams}}{{/value}} */
  Map.of({{#value}}"{{{key}}}", {{> maybeConvertOneOf}}{{^-last}},{{/-last}}{{/value}})
  {{/isAnyType}}
{{/isFreeFormObject}}
