 {{^isEnum}}
    /**
    * {{{description}}}{{^description}}{{classname}}{{/description}}
    *
    {{#allVars}}
    * @param {{{name}}} {{{description}}}
    {{/allVars}}
    */
    public fun {{vendorExtensions.x-one-of-explicit-name}}(
        {{#vars}}
        {{{name}}}: {{>data_class_field_type}}{{^required}}? = null{{/required}},
        {{/vars}}
    ): {{classname}}  = {{vendorExtensions.x-fully-qualified-classname}} (
        {{#vars}}
        {{{name}}} = {{{name}}},
        {{/vars}}
    )
{{/isEnum}}
{{#isEnum}}
    /**
    * {{{description}}}{{^description}}{{classname}}{{/description}}
    */
    public fun of(value: {{classname}}): {{classname}} = value
{{/isEnum}}        