{{#isFreeFormObject}}JsonObject{{/isFreeFormObject}}{{^isFreeFormObject}}{{#vendorExtensions}}{{#x-has-child-generic}}{{#isUniqueItems}}Set{{/isUniqueItems}}{{^isUniqueItems}}List{{/isUniqueItems}}<{{{complexType}}}>{{/x-has-child-generic}}{{^x-has-child-generic}}{{#x-propagated-generic}}{{#isUniqueItems}}Set{{/isUniqueItems}}{{^isUniqueItems}}List{{/isUniqueItems}}<JsonObject>{{/x-propagated-generic}}{{^x-propagated-generic}}{{{datatypeWithEnum}}}{{/x-propagated-generic}}{{/x-has-child-generic}}{{/vendorExtensions}}{{/isFreeFormObject}}