{{#isString}}jsonPrimitive{{/isString}}{{#isNumber}}jsonPrimitive{{/isNumber}}{{#isBoolean}}jsonPrimitive{{#isBoolean}}{{/isContainer}}jsonArray{{/isContainer}}{{^isString}}{{^isNumber}}{{^isBoolean}}jsonObject{{/isString}}{{/isNumber}}{{/isBoolean}}
