{{>licenseInfo}}
package {{modelPackage}}

{{#models}}
{{#model}}
{{#vendorExtensions.x-is-type-alias}}{{> typealias}}{{/vendorExtensions.x-is-type-alias}}{{^vendorExtensions.x-is-type-alias}}{{#isEnum}}{{>enum_class}}{{/isEnum}}{{^isEnum}}{{#vendorExtensions.x-is-one-of}}{{>oneof_interface}}{{/vendorExtensions.x-is-one-of}}{{^vendorExtensions.x-is-one-of}}{{#isAlias}}typealias {{classname}} = {{{dataType}}}{{/isAlias}}{{^isAlias}}{{>data_class}}{{/isAlias}}{{/vendorExtensions.x-is-one-of}}{{/isEnum}}{{/vendorExtensions.x-is-type-alias}}
{{/model}}
{{/models}}
