{{#vendorExtensions.x-sealed-childs}}
{{#vendorExtensions.x-fully-qualified-classname}}import {{.}} as {{vendorExtensions.x-classname-or-alias}}{{/vendorExtensions.x-fully-qualified-classname}}
{{/vendorExtensions.x-sealed-childs}}