{{#vendorExtensions.x-one-of-element}}: {{#vendorExtensions.x-one-of-element-parents}}{{parent_classname}}{{^-last}}, {{/-last}}{{/vendorExtensions.x-one-of-element-parents}}{{/vendorExtensions.x-one-of-element}}