/**
 * {{{description}}}{{^description}}{{classname}}{{/description}}
 */
{{#isDeprecated}}
@Deprecated(message = "This schema is deprecated.")
{{/isDeprecated}}
public typealias {{classname}} = {{vendorExtensions.x-type-alias}}