*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
develop-eggs
.installed.cfg
scratch
env
env3
venv

MANIFEST

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# IDE/OS Files
.idea
.DS_Store
.vscode
pytest.ini
tags
.cache
