*.egg
*.egg-info
*.eggs
*.iml
*.py[cod]
*.swp
*~
.DS_Store
.cache
.coverage*
.idea
.mypy_cache/
.pytest_cache/
.stestr
.tox/
.venv/
.vscode
/build
/env
/out/
@*
__pycache__
build/
dist/
htmlcov
venv/
