build/
__pycache__
*.py[cod]
*~
@*
/build
/env
*.iml
/out/
venv/
.venv/
.mypy_cache/
.cache
.stestr

# Packages
*.egg
*.egg-info
*.eggs

# IDEs
.idea
*.swp
.vscode

# Operating Systems
.DS_Store

# Tests
.pytest_cache/
.coverage*
.tox
htmlcov