{
  "trailingComma": "es5",
  "singleQuote": true,
  "plugins":["prettier-plugin-java"],
  "overrides": [
    {
      "files": "*.java",
      "options": {
        "printWidth": 140
      }
    }
  ]
}
