{{#isNull}}empty(){{/isNull}}
{{#isString}}"{{{value}}}"{{/isString}}
{{#isNumber}}{{{value}}}{{/isNumber}}
{{#isBoolean}}{{{value}}}{{/isBoolean}}
{{#isEnum}}{{{objectName}}}.fromJson("{{value}}"){{/isEnum}}
{{#isArray}}[{{#value}}{{> param_value}},{{/value}}]{{/isArray}}
{{#isFreeFormObject}}{{> param_map}}{{/isFreeFormObject}}
{{#isObject}}{{> param_object}}{{/isObject}}