queryParams: {
{{#vendorExtensions.x-is-custom-request}}
{{#queryParams}}
{{#required}}
putAll({{paramName}})
{{/required}}
{{^required}}
{{paramName}}?.let { putAll(it) }
{{/required}}
{{/queryParams}}
{{/vendorExtensions.x-is-custom-request}}
{{^vendorExtensions.x-is-custom-request}}
{{#queryParams}}
{{#required}}
put("{{baseName}}", {{paramName}})
{{/required}}
{{^required}}
{{paramName}}?.let { put("{{baseName}}", it{{#isArray}}.joinToString(","){{/isArray}}) }
{{/required}}
{{/queryParams}}
{{/vendorExtensions.x-is-custom-request}}
}