// {{pubDescription}}
library {{#isAlgoliasearchClient}}algoliasearch_lite{{/isAlgoliasearchClient}}{{^isAlgoliasearchClient}}{{pubName}}{{/isAlgoliasearchClient}};

export 'package:algolia_client_core/algolia_client_core.dart'
    show AgentSegment, ApiClient, CallType, ClientOptions, Host, RequestOptions;
{{#apiInfo}}{{#apis}}export '{{sourceFolder}}/{{apiPackage}}/{{classFilename}}.dart';
{{/apis}}{{/apiInfo}}
{{#models}}{{#model}}export '{{sourceFolder}}/{{modelPackage}}/{{classFilename}}.dart';
{{/model}}{{/models}}
export 'src/extension.dart';