{
{{#vendorExtensions.x-is-custom-request}}
{{#queryParams}}
...{{^required}}?{{/required}}{{paramName}},
{{/queryParams}}
{{/vendorExtensions.x-is-custom-request}}
{{^vendorExtensions.x-is-custom-request}}
{{#queryParams}}
{{#required}}
"{{baseName}}" : {{paramName}}.toString,
{{/required}}
{{^required}}
if ({{paramName}} != null) "{{baseName}}" : {{paramName}}{{#isArray}}.join(","){{/isArray}},
{{/required}}
{{/queryParams}}
{{/vendorExtensions.x-is-custom-request}}
}