version: 2.1

jobs:
  test:
    docker:
      - image: << parameters.docker_version >>
    description: Run tests for Python << parameters.tox_version >>
    parameters:
      docker_version:
        type: string
      tox_version:
        type: string
    steps:
      - checkout
      - run:
          command: pip install --upgrade pip
      - run:
          command: pip install tox mock
      - run:
          command: tox -e py<< parameters.tox_version >>-sync,py<< parameters.tox_version >>-async

  format:
    docker:
      - image: cimg/python:3.8.2
    description: Run formatting and linting checks
    steps:
      - checkout
      - run:
          command: pip install --upgrade pip
      - run:
          command: pip install tox
      - run:
          command: tox -e format

  types:
    docker:
      - image: cimg/python:3.8.2
    description: Run optional type checking with MyPy
    steps:
      - checkout
      - run:
          command: pip install --upgrade pip
      - run:
          command: pip install tox
      - run:
          command: tox -e types

  release:
    docker:
      - image: cimg/python:3.8.2
    description: Perform a new release of the Python client
    steps:
      - checkout
      - run:
          command: pip install --upgrade pip
      - run:
          command: pip install tox
      - run:
          command: |
            if [[ -z "$PYPI_USER" ]];     then echo '$PYPI_USER is not set';     exit 1; fi
            if [[ -z "$PYPI_PASSWORD" ]]; then echo '$PYPI_PASSWORD is not set'; exit 1; fi
            tox -e release

workflows:
  version: 2
  build:
    jobs:
      - test:
          name: 'test_34'
          docker_version: 'circleci/python:3.4'
          tox_version: '34'
          filters:
            tags:
              only: /.*/
      - test:
          name: 'test_35'
          docker_version: 'cimg/python:3.5'
          tox_version: '35'
          filters:
            tags:
              only: /.*/
      - test:
          name: 'test_36'
          docker_version: 'cimg/python:3.6'
          tox_version: '36'
          filters:
            tags:
              only: /.*/
      - test:
          name: 'test_37'
          docker_version: 'cimg/python:3.7'
          tox_version: '37'
          filters:
            tags:
              only: /.*/
      - test:
          name: 'test_38'
          docker_version: 'cimg/python:3.8'
          tox_version: '38'
          filters:
            tags:
              only: /.*/
      - test:
          name: 'test_39'
          docker_version: 'cimg/python:3.9'
          tox_version: '39'
          filters:
            tags:
              only: /.*/
      - test:
          name: 'test_310'
          docker_version: 'cimg/python:3.10'
          tox_version: '310'
          filters:
            tags:
              only: /.*/
      - test:
          name: 'test_311'
          docker_version: 'cimg/python:3.11.1'
          tox_version: '311'
          filters:
            tags:
              only: /.*/
      - format:
          name: 'format'
          filters:
            tags:
              only: /.*/
      - types:
          name: 'types'
          filters:
            tags:
              only: /.*/
      - release:
          requires:
            - test_34
            - test_35
            - test_36
            - test_37
            - test_38
            - test_39
            - test_310
            - test_311
            - format
            - types
          filters:
            tags:
              only: /^[1-9]+.[0-9]+.[0-9]+.*/
            branches:
              ignore: /.*/
