{{#isNull}}
JsonNull,
{{/isNull}}
{{#isString}}
JsonPrimitive("{{{value}}}"),
{{/isString}}
{{#isInteger}}
JsonPrimitive({{{value}}}),
{{/isInteger}}
{{#isLong}}
JsonPrimitive({{{value}}}L),
{{/isLong}}
{{#isDouble}}
JsonPrimitive({{{value}}}),
{{/isDouble}}
{{#isBoolean}}
JsonPrimitive({{{value}}}),
{{/isBoolean}}
{{#isEnum}}
JsonPrimitive("{{{value}}}"),
{{/isEnum}}
{{#isArray}}
{{> param_json_element}},
{{/isArray}}
{{#isFreeFormObject}}
buildJsonObject {
{{#value}}
  put("{{{key}}}", {{> param_json_element}})
{{/value}}
},
{{/isFreeFormObject}}