import com.algolia.utils.CompoundType;
import com.algolia.utils.JSON;
import com.fasterxml.jackson.core.*;
import com.fasterxml.jackson.databind.*;
import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.annotation.JsonDeserialize;
import com.fasterxml.jackson.databind.annotation.JsonSerialize;
import com.fasterxml.jackson.databind.deser.std.StdDeserializer;
import com.fasterxml.jackson.databind.ser.std.StdSerializer;
import com.algolia.exceptions.AlgoliaRuntimeException;
import java.io.IOException;
import java.util.List;
import java.util.logging.Logger;

/**
 * {{{description}}}{{^description}}{{classname}}{{/description}}{{#isDeprecated}}
 * @deprecated{{/isDeprecated}}
 */{{#isDeprecated}}
@Deprecated{{/isDeprecated}}
@JsonDeserialize(using = {{classname}}.{{classname}}Deserializer.class)
@JsonSerialize(using = {{classname}}.{{classname}}Serializer.class)
{{>additionalModelTypeAnnotations}}
public abstract class {{classname}}{{#vendorExtensions.x-propagated-generic}}<T>{{/vendorExtensions.x-propagated-generic}} implements CompoundType {

    private static final Logger LOGGER = Logger.getLogger({{classname}}.class.getName());

    {{#vendorExtensions.x-one-of-list}}
    public static {{classname}} of{{#vendorExtensions.x-one-of-explicit-name}}{{{name}}}{{/vendorExtensions.x-one-of-explicit-name}}({{{type}}} inside) {
        return new {{classname}}{{name}}(inside);
    }

    {{/vendorExtensions.x-one-of-list}}

    public static class {{classname}}Serializer extends StdSerializer<{{classname}}> {
        public {{classname}}Serializer(Class<{{classname}}> t) {
            super(t);
        }

        public {{classname}}Serializer() {
            this(null);
        }

        @Override
        public void serialize({{classname}} value, JsonGenerator jgen, SerializerProvider provider) throws IOException, JsonProcessingException {
            jgen.writeObject(value.getInsideValue());
        }
    }

    public static class {{classname}}Deserializer extends StdDeserializer<{{classname}}> {
        public {{classname}}Deserializer() {
            this({{classname}}.class);
        }

        public {{classname}}Deserializer(Class<?> vc) {
            super(vc);
        }

         @Override
        public {{classname}} deserialize(JsonParser jp, DeserializationContext ctxt) throws IOException {
            JsonNode tree = jp.readValueAsTree();
            {{#vendorExtensions.x-one-of-list}}

            // deserialize {{{type}}}
            if (tree.{{#isObject}}isObject(){{/isObject}}{{#isList}}isArray(){{/isList}}{{^isObject}}{{^isList}}isValueNode(){{/isList}}{{/isObject}}{{#discriminators}} && tree.has("{{field}}"){{/discriminators}}) {
                try(JsonParser parser = tree.traverse(jp.getCodec())) {   
                    {{{type}}} value = parser.readValueAs(new TypeReference<{{{type}}}>() {});
                    return {{{classname}}}.of{{#vendorExtensions.x-one-of-explicit-name}}{{{name}}}{{/vendorExtensions.x-one-of-explicit-name}}(value);
                } catch (Exception e) {
                    // deserialization failed, continue
                    LOGGER.finest("Failed to deserialize oneOf {{{type}}} (error: " + e.getMessage() + ") (type: {{{type}}})");
                }    
            }
            {{/vendorExtensions.x-one-of-list}}
            throw new AlgoliaRuntimeException(String.format("Failed to deserialize json element: %s", tree));
        }

        /**
         * Handle deserialization of the 'null' value.
         */
        @Override
        public {{classname}} getNullValue(DeserializationContext ctxt) throws JsonMappingException {
        {{#isNullable}}
            return null;
        {{/isNullable}}
        {{^isNullable}}
            throw new JsonMappingException(ctxt.getParser(), "{{classname}} cannot be null");
        {{/isNullable}}
        }
    }
}

{{#vendorExtensions.x-one-of-list}}
class {{classname}}{{name}} extends {{classname}} {
    private final {{{type}}} insideValue;

    {{classname}}{{name}}({{{type}}} insideValue) {
        this.insideValue = insideValue;
    }

    @Override
    public {{{type}}} getInsideValue() {
        return insideValue;
    }
}
{{/vendorExtensions.x-one-of-list}}
