{{#parametersWithDataType}}{{> generateParams}}{{/parametersWithDataType}}
client{{#path}}.{{.}}{{/path}}({{#parametersWithDataType}}{{> maybeConvertOneOf}}{{^-last}},{{/-last}}{{/parametersWithDataType}});
EchoResponse result = echo.getLastResponse();