
{{#additionalProperties.isAnyType}}
{{> serialization/json_serializable/class_map}}
{{/additionalProperties.isAnyType}}
{{^additionalProperties.isAnyType}}
{{> serialization/json_serializable/class_data}}
{{/additionalProperties.isAnyType}}