import 'package:collection/collection.dart';
import 'package:json_annotation/json_annotation.dart';

part '{{classFilename}}.g.dart';

{{#isDeprecated}}
@Deprecated('{{{classname}}} has been deprecated')
{{/isDeprecated}}
@JsonSerializable(createFieldMap: true)
final class {{{classname}}} extends DelegatingMap<String, dynamic> {
  /// Returns a new [{{{classname}}}] instance.
  const {{{classname}}}({
  {{#vars}}
    {{#required}}required{{/required}} this.{{{name}}},
  {{/vars}}
    Map<String, dynamic> additionalProperties = const {},
  }): super(additionalProperties);

  {{#vars}}
    {{#description}}
        /// {{{description}}}
    {{/description}}
    {{^isEnum}}
        {{#minimum}}
            // minimum: {{{minimum}}}
        {{/minimum}}
        {{#maximum}}
            // maximum: {{{maximum}}}
        {{/maximum}}
    {{/isEnum}}
    {{#deprecated}}
    @Deprecated('{{{name}}} has been deprecated')
    {{/deprecated}}
    {{^isBinary}}
    @JsonKey(name: r'{{{baseName}}}')
    {{/isBinary}}
    {{#isBinary}}
    @JsonKey(ignore: true)
    {{/isBinary}}
    {{#required}}
    {{#finalProperties}}final {{/finalProperties}}{{{datatypeWithEnum}}}{{#isNullable}}?{{/isNullable}} {{{name}}};
    {{/required}}
    {{^required}}
    {{#finalProperties}}final {{/finalProperties}}{{{datatypeWithEnum}}}? {{{name}}};
    {{/required}}

  {{/vars}}

  @override
  bool operator ==(Object other) => identical(this, other) || other is {{{classname}}} &&
  {{#vars}}
     other.{{{name}}} == {{{name}}} &&
  {{/vars}}
     const MapEquality<String, dynamic>().equals(this, this); 

  @override
  int get hashCode =>
  {{#vars}}
    {{#isNullable}}({{{name}}} == null ? 0 : {{{name}}}.hashCode){{/isNullable}}{{^isNullable}}{{{name}}}.hashCode{{/isNullable}} +
  {{/vars}}
    const MapEquality<String, dynamic>().hash(this);

  factory {{{classname}}}.fromJson(Map<String, dynamic> json) {
     final instance = _${{{classname}}}FromJson(json);
     final additionalProperties = Map<String, dynamic>.from(json)
      ..removeWhere((key, value) => _${{{classname}}}FieldMap.containsKey(key));
     return {{{classname}}} (
       {{#vars}}
          {{{name}}}: instance.{{{name}}},
       {{/vars}}
       additionalProperties: additionalProperties,
     );
  }

  Map<String, dynamic> toJson() => _${{{classname}}}ToJson(this)..addAll(this);

  @override
  String toString() {
    return toJson().toString();
  }
}
